/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500&family=Roboto+Slab:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Domine', serif;
}
/* Common CSS */
h2 {
    text-transform: capitalize;
    color:#273863;
    font-weight: bold;
}
p {
    font-size: .95rem;
    font-family: 'Domine', serif;
}
section {
    padding: 8% 0;
}

/* Header CSS */
#header {
    background-color: #F4F7FC;
    max-height: 845px;
}
.logo {
    color: #273863;
    font-weight: bolder;
}
.logo span {
    color: #C73A2F;
}
.active {
    color: #C73A2F !important;
}
.nav-item a {
    margin-right: 15px;
    color: #273863;
    font-weight: bolder;
}
.dropdown-menu li a {
    color: #000;
    font-weight: normal;
}
.navbar button {
    color: #273863;
    border: 1px solid #273863;
}

/* Banner CSS */
.banner {
    margin-top: 5%;
}
h1 {
    color: #273863;
    font-weight: bolder;
    font-size: 4rem;
}
h6 {
     color: #C73A2F;
}
h6 span {
    color: #273863;
}
.banner-btn {
    background-color: #375877;
    color: #F4F7FC;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: .85rem;
}
.banner-img img {
    width: 100%;
}

/* About CSS */
#about {
    margin-top: 10%;
}
#about .about-img {
    position: relative;
}
#about .book-page-1 {
    position: absolute;
    top: 49%;
    left: 50%;
    width: 76%;
    height: 83%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}
.about-btn {
    background-color: #C73A2F;
    color: #F4F7FC;
}
.about-content {
    margin-top: 55px;
}
.content {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
}
.content .img img {
    width: 50px;
}
.content p {
    line-height: 28px;
    color: #A7AAB8;
}
.about-announcement {
    background-color: #F4F7FC;
}
.about-announcement p {
    font-size: 3rem;
}
.about-announcement .philosopher {
    color: #C73A2F;
    font-size: 1rem;
}

/* Chapter CSS */
.chapter-item {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
    margin-bottom: 25px;
}
.chapter-item h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: #C73A2F;
    font-size: 1.2rem;
}

#chapter .chapter-item p {
    color: #A7AAB8;
    font-size: 1rem;
}

